version: "3.8"

services:
  sample-app:
    build:
      context: ../..
      dockerfile_inline: |
        FROM node:24-alpine

        # Installs latest Chromium package.
        RUN apk add --no-cache \
            chromium \
            nss \
            freetype \
            freetype-dev \
            harfbuzz \
            ca-certificates \
            ttf-freefont

        # Tell Puppeteer to skip installing Chrome. We'll be using the installed package.
        ENV PUPPETEER_SKIP_CHROMIUM_DOWNLOAD=true \
            PUPPETEER_EXECUTABLE_PATH=/usr/bin/chromium-browser

        WORKDIR /app

        COPY package*.json ./
        COPY .npmrc .

        RUN npm ci

        COPY . .

        ENTRYPOINT npx nx run sample-project:serve
    ports:
      - "3333:3333"
