name: pull request

on:
  pull_request:

jobs:
  pr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
      - run: npm ci
      - run:
          npx nx format:check --base=${{ github.event.pull_request.base.sha }} --head=${{
          github.event.pull_request.head.sha }}
      - run:
          npx nx affected --target=lint --parallel --max-parallel=3 --base=${{ github.event.pull_request.base.sha }}
          --head=${{ github.event.pull_request.head.sha }}
      - run:
          npx nx affected --target=build --parallel --max-parallel=3 --base=${{ github.event.pull_request.base.sha }}
          --head=${{ github.event.pull_request.head.sha }}
      - run:
          npx nx affected --target=test --parallel --max-parallel=2 --ci --base=${{ github.event.pull_request.base.sha
          }} --head=${{ github.event.pull_request.head.sha }}
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        if: always()

      - name: Publish Unit Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: >
          always() && github.event.sender.login != 'dependabot[bot]' && ( github.event_name != 'pull_request' ||
          github.event.pull_request.head.repo.full_name == github.repository )
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          files: test-results/**/*.xml
      - name: Upload Test Results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: Unit Test Results
          path: test-results/**/*.xml
